/* App */
.body {
  display: flex;
  justify-content: center;
}

/* Header */
.nav {
  width: 100%;
  height: 125px;
  box-shadow: 1px 2px 25px grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  background: rgb(0, 0, 0);
  color: white;
  font-size: 44px;
  font-weight: bold;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 49px;
}

.cart {
  margin-right: 65px;
  display: flex;
}

.cart-counter {
  width: 25px;
  height: 25px;
  background: black;
  color: white;
  border-radius: 25px;
  position: relative;
  top: -10px;
  right: 10px;
  text-align: center;
  font-weight: bold;
}



/* Product box  */
.product-box {
  width: 1240px;
  height: 606px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

/* Product */
.product {
  width: 609px;
  height: 606px;
}

/* TshirtPage */
.tshirt {
  width: 609px;
  height: 606px;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
}

.specs {
  text-align: center;
}

/* Hoodie */
.hoodie {
  width: 609px;
  height: 606px;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
}

.specs {
  text-align: center;
}

/* CheckoutPage */
.cart-row-box {
  width: 90%;
}

/* Cart Items */
.cart-row {
  display: flex;
  justify-content: space-between;
}

/* Register */
.register {
  margin-top: 50px;
  width: 346px;
  height: 554px;
  box-shadow: 10px 10px 25px grey;
  border-radius: 10px;
  text-align: center;
  
}

.profile-image {
  height: 99px;
  width: 99px;
  background: grey;
  border-radius: 50px;
  /* margin-top: 41px; */
  margin: 41px auto 20px;
}

.username {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.password {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.confirm-password {
  font-size: 15px;
  margin-bottom: 11px;
  border-radius: 5px;
  height: 43px;
  width: 267px;
}

.register-button {
  height: 35px;
  width: 266px;
  margin-top: 13px;
}